body{

    font-family: 'Poppins', sans-serif;
    
}

/*top banner css codes start here*/
.navbar-expand-lg img{

    width: 30%;
}

.navlink a {

    color: black!important;
}

.sign-in{

width: 100px;
padding: 7px 15px;
background-color: #21B573;
border: none;
border-radius: 25px;
color: white;



}

.navclass{

    background-color: #F0FFF0;
    padding-bottom: 50px;
}


  .headbanner span{

    color: #21B573;
  }

  .headbanner h1{

    font-size: 52px;
    font-weight: 700;
    margin-top: 20px;
  }

  .headbanner p{
      font-size:17px;
      line-height: 2.2;
      text-align: left;
      color: #6C6B6B;
      font-weight: 300;
      margin-top: 20px;
     
  }

  .headbanner h6{

    color: #FD511A;
  }

  .headcontainer{

    margin-top: 50px;
  }

  .get-started{
    width: 150px;
    padding: 10px 25px;
    background-color: #21B573;
    border: none;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
  }

  /*top banner css codes ends here*/


  /*Description Code Start Here*/

  .description{

    margin-top: 30px;
  }


  .h5p{
    text-align: center;
    display: flex;
   justify-content: center;
   margin: auto;
 }
  .description h5{
      margin-top: -10px;
      color: #413960;
      font-size: 24;
      font-weight: 700;
 }
 .description p{

    margin-top: -20px;
 }
  .greenbackground{

    background-color: #F8FFFB;
    padding: 20px 10px;
    height: 270px;
    border: none;
    border-radius: 10px;
    transition: all 0.6s;
  }

  .greenbackground:hover{
      box-shadow: 5px 5px 15px lightgray;
      background-color: white;
    padding: 20px 10px;
    height: 270px;
    border: none;
    border-radius: 10px;
    transform: scale(1.05)
  }

  .iconimages{

    width: 66px;
    height: 85px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

/*Description Code Start Here*/


/* Online Courses CSS Start Here*/




  .card-title{

    color: #413960;
    font-size: 24px;
    font-weight: 500;
  }

  .card-text{

    color:#585859;
  font-size: 17px;
  }

  .card-text2{

    color:#585859;
  font-size: 18px;
  font-weight: bold;
  }

  .buy-courses{
    width: 130px;
    padding: 7px 10px;
    background-color: #21B573;
    border: none;
    border-radius: 25px;
    color: white;
    margin-top: px;

  }

  .seats{

    margin-top: 30px;
  }

  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    padding: 10px 10px;
    border: none;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 15px;
}

.online-courses{

    color: #413960;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 5;
}

/* Online Courses CSS End Here*/



/* Testimonial CSS Start Here*/
.testimonial{

    font-weight: bold;
    color: black;
    font-size: 36px;
    text-align: center;
    line-height: 5;
}



@media (max-width: 767px) {
.man-image{margin-right:85px;}


.man-image-p{
  margin-top: 15px;
  text-align: center;
  padding: 5px 8px;
}}

.testimonial-container{

    padding-bottom: 35px;
}


/* Online Courses CSS End Here*/


/*Bonus Codes Start Here*/

@media (max-width: 767px) {

.take-tour{
background-color: #21B573;
color: white;
transition: all 0.6s;

}

.take-tour:hover{
background-color: #F9831A;




color:black
}

.start-now{

    background-color: #9E5AF6;
    color: white;
    transition: all 0.6s;
    
}

.start-now:hover{
background-color: #138496;
color: black;


}

}

@media (min-width: 768px) {
    .take-tour{
        background-color: #21B573;
        color: white;
        transition: all 0.6s;
        
        }
        
        .take-tour:hover{
        background-color: #F9831A;
        
        margin-bottom: 8px;
        font-size:20px;
       
        
        color:black
        }
        
        .start-now{
        
            background-color: #9E5AF6;
            color: white;
            transition: all 0.6s;
            margin-top: 20px;
            
        }
        
        .start-now:hover{
        background-color: #138496;
        color: black;
        margin-top: 18px;
        font-size:20px;
        
        
        }

}
@media (min-width: 1200px) {

    .take-tour{
        background-color: #21B573;
        color: white;
        transition: all 0.6s;
        
        }
        
        .take-tour:hover{
        background-color: #F9831A;
        
        margin-bottom: 8px;
        font-size:20px;
       
        color:black
        }

        .start-now{
            background-color: #9E5AF6;
            color: white;
            transition: all 0.6s;
            margin-top: 20px;
            
            }
            
            .start-now:hover{
            background-color: #138496;
            
            margin-bottom: 8px;
            font-size:20px;
            margin-top: 18px;
            
            color:black
            }
        
        

}

#bonus{

    
    padding-top:30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 15px;
   
}
/*Bonus Codes End Here */


/*footer code Start Here*/

.foo{

    background-color: #282531!important;
    color: white!important;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: -28px;
   
  
    
}


.foo a{
   color: whitesmoke;
   text-decoration: none;
}

.footer-copyright{

    margin-top: 20px;
}

/*footer code ends here*/

html {
    scroll-behavior: smooth;
    height: 100%!important;
  }

  